footer {
    text-align: left;
    padding: 10px;
    /* background-color: #FABEBD;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    position: absolute; /* Change to absolute */
    bottom: 0; /* Stick to the bottom of the container */
    width: 100%; /* Full width */
}

.author-list {
    margin-top: 10px;
    display: flex;
    font-family: Chilanka;
}

.author-item {
    margin-right: 10px;
    font-size: 12px;
}
