/* components.css */

.navbar {
    background-color: #FABEBD;
    font-weight: bold;
    font-family: Chilanka;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .container .logo img {
    width: 120px;
  }
  
  .navbar .container .links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .navbar .container .links h6 {
    font-size: 16px;
  }
  
  .navbar .container .links span {
    cursor: pointer;
  }
  